//- index.pug
doctype html
html
	head
		title KYC APP
		style
			include styling.css
	body
		div#page
			div#header.site-header
				div.wrap
					div#branding(role='banner')
						p.site-description KYC APP
		div#main
			div#primary
				div#content(role='main')
					h1.heading Thank you very much!
					
			